.form__toggle-image {
  position: absolute;
  top: -32px;
  right: -32px;
  
}

.form__toggle-image:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 530px) {
  .form__toggle-image {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}