.profile__container {
  display: flex;
  align-items: center;
  max-width: 690px;
}

@media screen and (max-width: 767px) {
  .profile__container {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}
